<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Version</string>
	<key>BIOFullSDKVersion</key>
	<string>5.11.1.f4a29df0</string>
	<key>BIOVersion</key>
	<string>5.11.1</string>
	<key>BIOBuildNumber</key>
	<string>6</string>
</dict>
</plist>
